<footer class="footer" id="footer">
  <div class="container">
    <img class="footer__img" src="images/footer-inscription.svg" alt="логотип">
    <div class="footer__content">
      <div class="footer__author">
        <a class="logo" href="/">
          <img class="logo__img" src="images/icons/logo.svg" alt="логотип" width="208" height="18">
        </a>
        <span class="footer__copy">© Все права защищены</span>
      </div>
      <ul class="footer__columns">
        <li class="footer__column" id="column-one">
          <span class="footer__name title">Основные страницы</span>
          <ul class="footer__list">
            <li>
              <a href="#start">Домашняя</a>
            </li>
            <li>
              <a href="#about">О нас</a>
            </li>
            <li>
              <a href="#community">Комьюнити</a>
            </li>
            <li>
              <a href="#support">Поддержка</a>
            </li>
            <li>
              <a href="#exclusive_offers">Предложения</a>
            </li>
            <li>
              <a href="contacts.html">Контакты</a>
            </li>
          </ul>
        </li>
        <li class="footer__column" id="column-two">
          <span class="footer__name title">соц.сети</span>
          <ul class="footer__list">
            <li>
              <a href="https://t.me/limitedclubcpa" target="_blank">Telegram</a>
            </li>
            <li>
              <a href="https://instagram.com/thelimitedclub.cpa?igshid=OGQ5ZDc2ODk2ZA==" target="_blank">Instagram</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="widget widget__footer">
        <div class="widget__list">
          <a class="widget__link widget__link--active" href="">Ru</a>
          <span>/</span>
          <a class="widget__link" href="">En</a>
        </div>
        <a class="widget__up" href="#header">Вверх</a>
      </div>
      <button class="menu-btn menu-btn--footer">
        <span class="menu-btn__line"></span>
        <span class="sr-only">Взаимодействовать с меню</span>
      </button>
    </div>
  </div>
  <div class="footer__mobile">
    <div class="widget widget__footer--mobile">
      <div class="widget__list">
        <a class="widget__link widget__link--active" href="">Ru</a>
        <span>/</span>
        <a class="widget__link footer__link-mobile" href="">En</a>
      </div>
      <a class="widget__up footer__link-mobile" href="#header">Вверх</a>
    </div>
    <ul class="footer__columns footer__columns--mobile">
      <li class="footer__column">
        <span class="footer__name title">Основные страницы</span>
        <ul class="footer__list">
          <li>
            <a class="footer__link-mobile" href="#start">Домашняя</a>
          </li>
          <li>
            <a class="footer__link-mobile" href="#about">О нас</a>
          </li>
          <li>
            <a class="footer__link-mobile" href="#community">Комьюнити</a>
          </li>
          <li>
            <a class="footer__link-mobile" href="#support">Поддержка</a>
          </li>
          <li>
            <a class="footer__link-mobile" href="#exclusive_offers">Предложения</a>
          </li>
          <li>
            <a class="footer__link-mobile" href="contacts.html">Контакты</a>
          </li>
        </ul>
      </li>
      <li class="footer__column">
        <span class="footer__name title">соц.сети</span>
        <ul class="footer__list">
          <li>
            <a href="https://t.me/limitedclubcpa" target="_blank">Telegram</a>
          </li>
          <li>
            <a href="https://instagram.com/thelimitedclub.cpa?igshid=OGQ5ZDc2ODk2ZA==" target="_blank">Instagram</a>
          </li>
        </ul>
      </li>
    </ul>
    <span class="footer__copy footer__copy--mobile">© The Limited Club Все права защищены</span>
  </div>
</footer>