.case-links {
  display: grid;
  gap: 18px;

  a {
    display: inline-flex;
    align-items: center;
    gap: 14px;
    width: fit-content;
    color: $grey100;
    transition: color .3s, opacity .3s;

    &:hover {
      color: $accent;

      .case-links__decor {
        svg path {
          fill: $accent;
        }
      }
    }

    &:focus-visible {
      outline: 2px solid rgba($accent, .7);
      outline-offset: 4px;
    }
  }

  &__decor {
    @include flex-center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: $grey100;
    background-color: #1e1d1d;
  }
}